<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Core" publicKeyToken="7CEC85D7BEA7798E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="mscorlib" publicKeyToken="7CEC85D7BEA7798E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System" publicKeyToken="7CEC85D7BEA7798E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.5.0" newVersion="5.0.5.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016White</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>
